<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>IIC2513 - Clothex</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <div class="logo">
          <a href="../../../../../"><img src="<%= assetPath('Sheep.png') %>" alt="Logo" width="55" height="55" /></a>
    </div>

    <div class= navbar>
      <nav>
          <ul>
              <li><a href="/publications">Publications</a></li>
              <li><a href="<%- categoriesListPath %>">Categories</a></li>
              <% if (currentUser) { %>
                <li><a href="<%- myProfilePagePath %>"><%=  currentUser.name  %></a></li>
                <% if (currentUser.category == "Admin") { %>
                  <li><a href="/users">Users</a></li>
                <% } %>
                <li>
              </li>
              <div class="dropdown">
                <a class="dropdown-button">My options</a>
                <div class="dropdown-content">
                  <a href="<%- myPublicationsListPath %>">My publications</a>
                  <a href="<%- myProductsListPath %>">My products</a>
                  <a href="<%- myChatsListPath %>">My Chats</a>
                  <a href="<%- myTradesListPath %>">My trades</a>
                  <a href="<%- favoritePublicationPath %>">My favorite publications</a>
                </div>
              </div>
              <% } %>
          </ul>
          <ul class="navbar-right">
            <% console.log('HERE')%>
            <% if (currentUser) { %>
              <form id="logout-form" action="<%= destroySessionPath %>" method="POST">
                <input type="hidden" name="_method" value="delete"/>
                <input type = "submit" value="Logout"/>
              </form>
            <% } else { %>
              <li><a href="<%- newUserPath %>">Register</a></li>
              <li><a href="<%- newSessionPath %>">Login</a></li>
            <% } %>
          </ul>

      </nav>
    </div>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
