<h2>Favorite Publications</h2>
<% if (!favoritepublicationlist.length) { %>
    <p>No publications found</p>
<% } else { %>
    <div>
        <% favoritepublicationlist.forEach((publication) => { %>
            <div class="datos" name="datos">
                <div class="publicationDiv">
                    <h1><%- publication.title %></h1>
                    <h3><%- publication.product.name %></h3>
                    <p><%- publication.description %></p>
                    <p><%- publication.favpub.id %></p>
                    <div class="publicationPicture">
                        <td><%- publication.image %></td>
                    </div>
                    <div class="publicationInfo">
                        <p><%- publication.createdAt.toISOString().split('T')[0] %></p>
                        <a href="<%- showPublicationPath(publication) %>">Show</a>
                        <p>

                            <form action="<%- delfavpubPath(publication.favpub.id) %>" method="POST">
                                <input type="hidden" name="_method" value="delete"/>
                                <input type = "submit" value="Unstar"/>
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        <% }) %>

    </div>
<% } %>

<a href="<%- userProfilePath %>">Back to profile</a>
<p><a href="<%- newPublicationPath %>">New publication</a></p>
